.div_nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.div_items{
    display: flex;
    flex-direction:row ;
    gap:60px;
    
}

.fondo_imagen{
    background-image: url(/media/fondo_index.jpg);
    background-size:contain;
}

.fondo_verde{
    background-color: rgb(90, 187, 90);
    
}

.fondo_blanco{
    background-color: white;
}

.div_items div a{
    color: aliceblue;
    text-decoration: none;
}