.div_nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.div_items{
    display: flex;
    flex-direction:row ;
    gap:60px;
    
}

.fondo_imagen{
    background-image: url(/media/fondo_index.jpg);
    background-size:contain;
}