*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #E5E0D8;
    height: 100px;
}

.div_nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
    
}

.div_items{
    display: flex;
    flex-direction:row ;
    
    gap:60px;
    margin-top: 35px;
    
}

.fondo_imagen{
    background-image: url(/media/fondo_index.jpg);
    background-size:cover;
    
}

.fondo_verde{
    background-color: #809671;
    
}

.fondo_blanco{
    background-color: white;
}

.div_items div a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.div_items div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    background-color: #E5D2B8;
    border: 2px slod black;
    transition: all 0.3s ease;
    border-radius: 12%;
    
}

.div_items div:hover{
    filter: brightness(85%);   
    transform: scale(1.05);    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.icono_nav{
    height:70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
    transition: transform 0.3s ease;
}
.icono_nav:hover {
    transform: scale(1.2);
  }

  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5D2B8;
    height: 30px ;
    width: 130px;
    margin-top: 35px;
    margin-right: 80px;
    border: 2px slod black;
    transition: all 0.3s ease;
    border-radius: 12%;
  }

  .login:hover{
    filter: brightness(85%);   
    transform: scale(1.05);    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

  .login a{
    color: black;
    text-decoration: none;
  }


